
body{
        margin: 0;
}
.tab{
    background-color: azure;
        height: 1000px;
        position: relative;
}
.tab1{
        filter: brightness(0.5) blur(1px);
}
.tab3{
        background-color: azure;
}
.tab4{
    background-color: azure;
        filter: brightness(0.3) blur(1px);
}
.TTP{
    text-decoration: none;
}
.heading{
    /* height: 82px; */
        background-color: white;
        position: relative;
        /* top: 1px; */
        width: 1333px;
        font-size: x-large;
        /* padding: 2px; */
        border: 1px solid red;
        padding-left: 24px;
}
.list{
        color: blue;
}

.text{
    font-size: 25px;
        font-weight: 600;
        /* position: absolute; */
        /* right: 10px; */
        /* top: 102px; */
        padding-top: 6px;
        padding-left: 11px;
}
.parent{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 867px;
        align-items: center;
        align-content: center;
}
.box{
    width: 300px;
        height: 300px;
        background-color: white;
        border: 1px solid black;
        border-radius: 20px;
        text-align: center;
        padding: 1rem;
        margin: 2px;
        font-size: 21px;
}
.invisible{
    text-decoration: line-through;
        opacity: 0.5;
}
.larger{
    width: 31px;
        height: 20px;
}
.iframe{
    width: 79%;
        height: 601px;
        position: absolute;
        top: 7%;
        left: 11%;
        filter: blur(2px) brightness(0.5);
}
.front,.front1{
    border: 0px;
        width: 350px;
        height: 200px;
        position: fixed;
        background-color: white;
        font-size: xx-large;
        font-weight: 700;
        left: 531px;
        top: 252px;
        z-index: 2;
        border-radius: 10px;
        text-align: center;
        margin: 5px;
        padding: 5px;
}
.tab2box,.tab4box{
    position: absolute;
        bottom: 18px;
        right: 17px;
        width: 161px;
        height: 37px;
        background-color: #7474f7;
        border-radius: 10px;
        text-align: center;
        color: white;
        text-decoration: none;
        font-size: smaller;
        padding: 5px;
        font-weight: bolder;
}
.addtask{
    position: relative;
        top: 4px;
}
.parent1{
        display: flex;
            justify-content: center;
            height: 475px;
            align-items: center;
}
.icon{
    height: -2px;
        /* background-color: aqua; */
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 13px;
        padding: 2px;
}
.icon1{
            /* background-color: aqua; */
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
}
.plus{
        display: flex;
            align-items: center;
}
.back{
    display: flex;
        align-items: center;
}
.cross{
    padding-left: 84px;
}
@media only screen and (max-width:480px) {
   .tab{
    height: 2000px;
    width: 100%;
   }
    .parent{
    display: block;
    height: 100%;
    margin: 5px;
   }
   .box{
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
   }
   .heading{
    width: 94%;
   }
   .front{
    position: relative;
        width: 60%;
        height: 200px;
        left: 1%;
        top: -1700px;
        font-size: 30px;
        text-align: revert;
        margin: auto;
   }
   .cross{
    padding-left: 50px;
   }
   .tab4box{
        position: relative;
            top: 15%;
            left: 28%;
   }
  
}
@media only screen and (min-width:480px) and (max-width:722px) {
    .tab {
            height: 2000px;
        }
    
        .parent {
            display: block;
            height: 100%;
            margin: 5px;
        }
    
        .box {
            width: 50%;
            margin: auto;
            /* margin-right: 230px; */
            margin-bottom: 20px;
        }
    
        .heading {
             width: 95%;
        }
    
        .front {
            position: relative;
            width: 350px;
            height: 220px;
            left: 25%;
            top: -1700px;
            font-size: 30px;
            text-align: revert;
        }
    
        .cross {
            padding-left: 100px;
        }
    
        .tab4box {
            position: absolute;
                top: 60%;
                left: 50%;
        }
        .tab3{
            width: 100%;
        }
        .icon1{
            margin-top: 25px;
        }
        
} 
